[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-writable-nested = "*"
django-redis = "*"
pillow = "*"
drf-nested-routers = "*"
opencv-python = "*"
pandas = "*"
openpyxl = "*"
xlsxwriter = "*"
xlrd = "*"
psycopg2 = "*"

[dev-packages]
autopep8 = "*"
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
model-bakery = "*"

[requires]
python_version = "3.10"
